<div class="h-100p normal-grid-ccc">
  <mat-card>
    <mat-card-header class="normal-flex-rce">
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        class="normal-flex-ccb"
        [formGroup]="signupForm"
        (ngSubmit)="signup()"
      >
        <mat-form-field class="form__field">
          <span matPrefix>
            <mat-icon>person</mat-icon>
          </span>
          <mat-label>username</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            autocomplete="off"
            required
          />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="form__field">
          <span matPrefix>
            <mat-icon>vpn_key</mat-icon>
          </span>
          <mat-label>password</mat-label>
          <input
            [type]="passwordConfig[selectedPasswordConfig].type"
            matInput
            formControlName="password"
            autocomplete="off"
            required
          />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="form__field">
          <span matPrefix>
            <mat-icon>vpn_key</mat-icon>
          </span>
          <mat-label>repetir password</mat-label>
          <input
            [type]="passwordConfig[selectedPasswordConfig].type"
            matInput
            formControlName="confirmPassword"
            autocomplete="off"
            required
          />
          <span matSuffix>
            <button
              type="button"
              mat-icon-button
              (click)="alternatePasswordConfig()"
            >
              <mat-icon>
                {{ passwordConfig[selectedPasswordConfig].icon }}
              </mat-icon>
            </button>
          </span>
          <mat-error
            >Este campo es obligatorio y debe ser igual a la
            contraseña</mat-error
          >
        </mat-form-field>
        <button type="submit" hidden></button>
      </form>
    </mat-card-content>
    <div class="normal-flex-rbc w-100p">
      <button type="button" mat-button routerLink="../signin">
        Iniciar Sesión
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="signup()"
        [disabled]="signupForm.invalid"
      >
        Registrarse
      </button>
    </div>
  </mat-card>
</div>
