$tp-primary: rgba(83, 110, 29, 1);
$tp-light: rgba(255, 255, 255, 1);
$tp-primary-400: rgba(150, 107, 100, 1);
$tp-blue-400: rgba(20, 186, 227, 1);

.bg-primary {
  background-color: $tp-primary;
}
.bg-blue-400 {
  background-color: $tp-blue-400;
}
.bg-light {
  background-color: $tp-light;
}
.bg-primary-400 {
  background-color: $tp-primary-400;
}
.bg-primary-gradient {
  background: $tp-primary-400;
  background: linear-gradient(
    117deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(83, 110, 29, 0.8) 5%,
    rgba(148, 193, 65, 0.4) 48%,
    rgba(80, 114, 37, 0.8) 89%,
    rgba(0, 212, 255, 0.5) 98%
  );
}
