<mat-drawer-container class="h-100p" autoSize>
  <mat-drawer #menuDrawer mode="side" position="start">
    <mat-sidenav-container class="h-100p">
      <app-nav-list (navigate)="changeTitle($event);menuDrawer.close()"></app-nav-list>
    </mat-sidenav-container>
  </mat-drawer>
  <mat-drawer #configDrawer mode="over" position="end">
    <mat-sidenav-container class="h-100p">
      <app-nav-config (themeColorChange)="changeThemeColor($event)"></app-nav-config>
    </mat-sidenav-container>
  </mat-drawer>
  <div class="intranet__container h-100p">
    <mat-toolbar>
      <button mat-icon-button (click)="menuDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Hulk Store{{ title }}</span>
    </mat-toolbar>
    <button
      class="config__button"
      mat-raised-button
      (click)="configDrawer.toggle()"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
