<div class="extranet bg-primary-gradient">
  <div class="extranet__container">
    <div class="primary__content bg-primary-400">
      <img
        class="primary__content__icon"
        src="assets/images/icons/logo-hulk-store.svg"
        alt="Hulk Logo"
      />
      <div class="card mat-elevation-z4">
        <img class="card__image" src="assets/images/items/comics.jpg" />
        <div class="card__content">
          <div class="card__title">Comics</div>
          <div class="card__description">
            Venta de revistas gráficas de Marvel, DC, Manga, entre otros...
          </div>
        </div>
      </div>
    </div>
    <div class="secondary__content bg-blue-400">
      <button
        class="menu__button"
        mat-mini-fab
        color="light"
        routerLink="/auth"
      >
        <mat-icon>login</mat-icon>
      </button>
      <div class="card mat-elevation-z4">
        <img class="card__image" src="assets/images/items/clothes.jpg" />
        <div class="card__content">
          <div class="card__title">Vestimenta</div>
          <div class="card__description">
            Venta de vestimentas de Marvel, DC, Manga, entre otros...
          </div>
        </div>
      </div>
    </div>
    <div class="tertiary__content bg-light">
      <div class="card mat-elevation-z4">
        <img class="card__image" src="assets/images/items/accessories.jpg" />
        <div class="card__content">
          <div class="card__title">Accesorios</div>
          <div class="card__description">
            Venta de accesorios de Marvel, DC, Manga, entre otros...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
